body{
    font-family: arial;
}
small a{
    text-decoration: none;
}
#search{
    padding: 5px 0 5px 0;
    width: 70%;
    margin: 10px;
}
#temp{
    font-size: 50px;
    font-weight: bold;
}
#cel{
    position: relative;
    top: -23px;
    color: blue;
}
#fran{
    position: relative;
    top: -23px;
}
em{
    position: relative;
    top: -23px;
}
.icon{
    position: relative;
    top: -5px;
}
#city{
    font-weight: bold;
    color: #878787;
    margin-bottom: 0;
    margin-left: 30px;
}
.box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}
.wrapper{
    max-width: 500px;
    margin: 50px auto;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
